{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
  <h4 class="text-center">Bienvenido, {{ user.get_full_name }} <small>({{ user.username }})</small></h4>
{% if Usuario.es_alumno %}
    <div>ALUMNO</div>
    {% else %}
    <div>OFERENTE</div>
    <a href="{% url 'nueva_oportunidad' %}?next=/">Ingresar oportunidad</a>
    {% endif %}
    {% for o in Oportunidad %}
        {% if o.visible  %}
            <h1>{{ o.titulo }}</h1>
            <p>{{ o.descripcion }}</p>
        {% endif %}
    {% endfor %}

{% endblock %}