
{% load static %}

<!DOCTYPE html>
<html>
{% load django_template_maths %}
{% block head %}
    {% include 'alcal/blue/head.html' %}
{% endblock %}



<body class="fixed-left">

<!-- Begin page -->
<div id="wrapper">

    {% block topbar %}
        {% include 'alcal/blue/topbar.html' %}
    {% endblock %}

    {% block leftsidebar %}
        {% include 'alcal/blue/leftsidebar.html' %}
    {% endblock %}


    <footer class="footer text-right">
        2015 © Moltran.
    </footer>
</div> <!-- content -->
</div>
<!-- ============================================================== -->
<!-- End Right content here -->
<!-- ============================================================== -->
      <div class="content-page">
                <!-- Start content -->
                <!-- Start content -->
        <div class="content" align="center">
            <div class="col-xl-6" style="width: 60%" align="left">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Nuevo Estudiante</h3>
                    </div>
                    <div class="panel-body">
                            <form action="#" method="post" class="form-horizontal">

                                {% csrf_token %}
                                <div class="form-group">
                                    {{ form.curso }}
                                    {{ form.estudiante }}
                                    {{ var.apellido }}
                                    <img src="/static/images/{{ var.foto_dni_estudiante_archivo }}">
                                </div>
                            <div class="row">
                            <div class="col-md-12">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">Boletín</h3>
                                    </div>
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-md-12 col-sm-12 col-xs-12">
                                                <div class="table-responsive">
                                                    <table class="table">
                                                        <thead>
                                                            <tr>
                                                                <th>Materia</th>
                                                                <th>Primer Trimestre</th>
                                                                <th>Segundo Trimestre</th>
                                                                <th>Tercer Trimestre</th>
                                                                <th>Calificación Final</th>
                                                                <th>Diciembre</th>
                                                                <th>Febrero</th>
                                                                <th>Calificación Definitiva</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            {% for i in boletin %}
                                                                <tr>
                                                                {% for j in i %}
                                                                    <td>{{ j }}</td>
                                                                {% endfor %}
                                                                </tr>
                                                            {% endfor %}
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> <!-- End row -->
                               <button type="submit" class="btn btn-primary">Buscar</button>
                            </form>
                    </div>
                </div>
            </div>
        </div>
            </div>
{{ var.legajo }}

</div>
<!-- END wrapper -->

{% block scripts_template %}
    {% include 'alcal/blue/scripts_template.html' %}
    <script src="{% static 'assets/select2/select2.min.js' %}" type="text/javascript"></script>
{% endblock %}

</body>
</html>