{% load static %}
{% block leftsidebar %}
          <!--- ========== Left Sidebar Start ========== -->

            <div class="left side-menu">
                <div class="sidebar-inner slimscrollleft">
                    <div class="user-details">
                        <div class="pull-left">
                            <img src="{% static 'images/users/avatar-1.jpg'%}" alt="" class="thumb-md img-circle">
                        </div>
                        <div class="user-info">
                            <div class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"> {{ usuario.capitalize }} <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="javascript:void(0)"><i class="md md-face-unlock"></i> Perfil<div class="ripple-wrapper"></div></a></li>
                                    <li><a href="javascript:void(0)"><i class="md md-settings"></i> Configuración</a></li>
                                    <li><a href="javascript:void(0)"><i class="md md-lock"></i> Bloquear pantalla</a></li>
                                    <li><a href="javascript:void(0)"><i class="md md-settings-power"></i> Salir</a></li>
                                </ul>
                            </div>

                            <p class="text-muted m-0">Administrador</p>
                        </div>
                    </div>
                    <!---- Divider -->
                    <div id="sidebar-menu">
                        <ul>
                            <li>
                                <a href="portada" class="waves-effect active"><i class="md md-dashboard"></i><span> Resumen </span></a>
                            </li>
                            <li class="has_sub">
                                <a href="#" class="waves-effect"><i class="md md-account-child"></i><span> Padres </span><span class="pull-right"><i class="md md-add"></i></span></a>
                                <ul class="list-unstyled">
                                    <li><a href="nuevo_padre">Nuevo Padre</a></li>
                                </ul>
                            </li>
                            <li class="has_sub">
                                <a href="#" class="waves-effect"><i class="md md-person"></i><span> Estudiantes </span><span class="pull-right"><i class="md md-add"></i></span></a>
                                <ul class="list-unstyled">
                                    <li><a href="nuevo_estudiante">Nuevo Estudiante</a></li>
                                    <li><a href="ficha_estudiante">Ficha de Estudiante</a></li>
                                </ul>
                            </li>

                            <li>
                                <a href="#" class="waves-effect"><i class="md md-school"></i><span> Docentes </span></a>
                                <ul class="list-unstyled">
                                    <li><a href="nuevo_docente">Nuevo Docente</a></li>
                                    <li><a href="ficha_docente">Ficha Docente</a></li>
                                </ul>
                            </li>

                            <li class="has_sub">
                                <a href="#" class="waves-effect"><i class="md md-alarm-off"></i> <span> Colegio </span> <span class="pull-right"><i class="md md-add"></i></span></a>
                                <ul class="list-unstyled">
                                    <li><a href="carreras">Carreras</a></li>
                                    <li><a href="cursos">Cursos</a></li>
                                    <li><a href="horarios">Horario</a></li>
                                </ul>
                            </li>

                            <li>
                                <a href="/editable_list" class="waves-effect"><i class="md md-domain"></i><span> Cursos </span><span class="pull-right"><i class="md md-add"></i></span></a>
                            </li>

                            <li class="has_sub">
                                <a href="#" class="waves-effect"><i class="md md-timer"></i><span> Insasistencias </span><span class="pull-right"><i class="md md-add"></i></span></a>
                                <ul class="list-unstyled">
                                    <li><a href="inasistencias_por_estudiante">Por Estudiante</a></li>
                                    <li><a href="inasistencias_por_curso">Por Curso</a></li>
                                </ul>
                            </li>

                            <li class="has_sub">
                                <a href="#" class="waves-effect"><i class="md md-forum"></i><span> Comunicaciones </span><span class="pull-right"><i class="md md-add"></i></span></a>
                                <ul class="list-unstyled">
                                    <li><a href="comunicaciones_por_estudiante">Por Estudiante</a></li>
                                    <li><a href="comunicaciones_por_curso">Por Curso</a></li>
                                </ul>
                            </li>

                            <li class="has_sub">
                                <a href="#" class="waves-effect"><i class="md md-filter-7"></i><span> Calificaciones </span><span class="pull-right"><i class="md md-add"></i></span></a>
                                <ul class="list-unstyled">
                                    <li><a href="notas_por_estudiante">Por Estudiante</a></li>
                                    <li><a href="notas_por_curso">Por Curso</a></li>
                                </ul>
                            </li>

                            <li class="has_sub">
                                <a href="#" class="waves-effect"><i class="md md-poll"></i><span> Reportes </span><span class="pull-right"><i class="md md-add"></i></span></a>
                                <ul class="list-unstyled">
                                    <li><a href="reportes_inasistencias">Inasistencias</a></li>
                                    <li><a href="reportes_notas">Notas</a></li>
                                    <li><a href="reportes_comunicaciones">Comunicaciones</a></li>
                                </ul>
                            </li>

                            <li class="has_sub">
                                <a href="#" class="waves-effect"><i class="md md-people-outline"></i><span> Seguimiento </span><span class="pull-right"><i class="md md-add"></i></span></a>
                                <ul class="list-unstyled">
                                    <li><a href="reportes_seguimiento">Reportes de seguimiento</a></li>
                                    <li><a href="nuevo_seguimiento">Nuevo Seguimiento</a></li>
                                    <li><a href="ver_seguimiento_alumno">Ver Seguimiento</a></li>
                                </ul>
                            </li>
<!--
                            <li class="has_sub">
                                <a href="#" class="waves-effect"><i class="md md-place"></i><span> Mapas </span><span class="pull-right"><i class="md md-add"></i></span></a>
                                <ul class="list-unstyled">
                                    <li><a href="gmap.html"> Google Map</a></li>
                                    <li><a href="vector-map.html"> Vector Map</a></li>
                                </ul>
                            </li>

                            <li class="has_sub">
                                <a href="#" class="waves-effect"><i class="md md-pages"></i><span> Páginas </span><span class="pull-right"><i class="md md-add"></i></span></a>
                                <ul class="list-unstyled">
                                    <li><a href="profile.html">Profile</a></li>
                                    <li><a href="timeline.html">Timeline</a></li>
                                    <li><a href="invoice.html">Invoice</a></li>
                                    <li><a href="email-template.html">Email template</a></li>
                                    <li><a href="contact.html">Contact-list</a></li>
                                    <li><a href="login.html">Login</a></li>
                                    <li><a href="register.html">Register</a></li>
                                    <li><a href="recoverpw.html">Recover Password</a></li>
                                    <li><a href="lock-screen.html">Lock Screen</a></li>
                                    <li><a href="blank.html">Blank Page</a></li>
                                    <li><a href="maintenance.html">Maintenance</a></li>
                                    <li><a href="coming-soon.html">Coming-soon</a></li>
                                    <li><a href="404.html">404 Error</a></li>
                                    <li><a href="404_alt.html">404 alt</a></li>
                                    <li><a href="500.html">500 Error</a></li>
                                </ul>
                            </li>

                            <li class="has_sub">
                                <a href="javascript:void(0);" class="waves-effect"><i class="md md-share"></i><span>Multi Level </span><span class="pull-right"><i class="md md-add"></i></span></a>
                                <ul>
                                    <li class="has_sub">
                                        <a href="javascript:void(0);" class="waves-effect"><span>Menu Level 1.1</span> <span class="pull-right"><i class="md md-add"></i></span></a>
                                        <ul style="">
                                            <li><a href="javascript:void(0);"><span>Menu Level 2.1</span></a></li>
                                            <li><a href="javascript:void(0);"><span>Menu Level 2.2</span></a></li>
                                            <li><a href="javascript:void(0);"><span>Menu Level 2.3</span></a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);"><span>Menu Level 1.2</span></a>
                                    </li>
                                </ul>
                            </li>
                            -->
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <!--- Left Sidebar End -->
{% endblock %}