
{% load static %}

<!DOCTYPE html>
<html>
    {% load django_template_maths %}
    {% block head %}
        {% include 'alcal/blue/head.html' %}
    {% endblock %}
    <script src="{% static 'smart-selects/admin/js/chainedfk.js' %}"></script>
    <script src="{% static 'smart-selects/admin/js/chainedm2m.js' %}"></script>


    <body class="fixed-left">

        <!-- Begin page -->
        <div id="wrapper">

            {% block topbar %}
                {% include 'alcal/blue/topbar.html' %}
            {% endblock %}

            {% block leftsidebar %}
                {% include 'alcal/blue/leftsidebar.html' %}
            {% endblock %}


            <footer class="footer text-right">
                2015 © Moltran.
            </footer>
        <!-- INICIO RIGHT-->
            <div class="content-page">
                <!-- Start content -->
                <!-- Start content -->
        <div class="content" align="center">
            <div class="col-xl-6" style="width: 50%" align="left">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Nuevo Estudiante</h3>
                    </div>
                    <div class="panel-body">
                            <form action="#" method="post" class="form-horizontal" enctype="multipart/form-data">

                                {% csrf_token %}
                                <div class="form-group">
                                    {{ form }}
                                </div>
                               <button type="submit" class="btn btn-primary">Guardar</button>
                            </form>
                    </div>
                </div>
            </div>
        </div>
            </div>
        <!-- END wrapper -->

        {% block scripts_template %}
            {% include 'alcal/blue/scripts_template.html' %}
        {% endblock %}
        </div>
    </body>
</html>